# Node modules

node_modules/
**/node_modules/

# Logs

logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment variables

.env
.env.*
!.env.example

# OS files

.DS_Store
Thumbs.db

# IDE files

.vscode/
.idea/

# Temporary files

*.tmp
*.temp
.cache/

# PM2

.pm2/
dump.pm2

# Coverage / testing

coverage/

# GitHub / misc

*.pem
*.key

